@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* HEADER */
body {
  font-family: "roboto";
}
.container {
  padding: 0.75rem 4rem;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.title .title-icon {
  width: 50px;
  height: 50px;
}

nav > ul {
  font-weight: 600;

  list-style: none;

  justify-content: center;
  align-items: center;
  display: flex;
  gap: 20px;
}

nav > ul > .nav-feed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

nav > ul > li > .nav-img {
  width: 25px;
  height: 25px;
}

main {
  /* padding-top: 300px; */
  text-align: right;
}
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: end;
  position: relative;
}
.article {
  position: relative;
}

.article-text {
  cursor: pointer;
}

/* .article-text[data-sub-text] {
  position: relative;
} */

/* .article-text[data-sub-text]::before {
  display: none;
  content: attr(data-sub-text);
  color: #565758;
  position: absolute;
  user-select: none;
  pointer-events: none;
  right: -2%;
  top: -317%;
  font-size: 250px;
  font-weight: 700;
  opacity: 0.1;
  text-transform: uppercase;
} */

.menu {
  display: flex;
  gap: 20px;
}

.menu .menu-item {
  list-style: none;
}

.menu .menu-item .menu-link {
  text-decoration: none;
  text-decoration-color: #565758;
  color: #000;
}

.menu .menu-item .menu-link:focus {
  color: green;
}

.menu .menu-item .menu-link:focus + .item-background {
  animation: fade-in 0.35s both;
  animation-delay: 0.215s;
  animation-timing-function: linear;
}

.menu .menu-item .menu-link + .item-background {
  animation-name: focus-in-contract;
  animation-duration: 0.295s;
  animation-timing-function: linear;
  animation-direction: reverse;
  animation-fill-mode: none;
}

.item-background {
  position: absolute;
  user-select: none;
  pointer-events: none;
  top: -169%;
  right: -2.5%;
  font-size: 300px;
  font-weight: 700;
  opacity: 0;
  text-transform: uppercase;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes focus-in-contract {
  0% {
    opacity: 0.1;
    letter-spacing: 0.04em;
  }

  100% {
    opacity: 0;
  }
}
